= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :content
    = form.text_area :content
  - if form.object.new_record?
    .field
      = form.label :do_not_publish
      = form.check_box :do_not_publish
  - else
    .field
      = form.label :created_at
      = form.date_select :created_at


  .actions
    = form.submit