.card.rounded-0.shadow-sm.mt-4
  = render partial: "posts/post_header", locals: { post: post }
  .card-body
    %h2.card-title
      = post.title
      = "(unpublished)" unless post.published
    %p.card-text= post.content.try(:html_safe)
    .post-tags.mb-4
      %b Tags:
      = post.tags_string
    = link_to "Read more...", post