%p#notice= notice
%h1 Posts
%table
  %thead
    %tr
      %th Title
      %th Content
      %th Published
      %th User
      %th{colspan: "3"}
  %tbody
    - @posts.each do |post|
      - cache post do
        %tr
          %td= post.title
          %td= post.content
          %td= post.published
          %td
            = post.user.email
            %br
            Registration date:
            = post.user.created_at.strftime("%F")
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Post', new_post_path

= will_paginate @posts